@charset 'UTF-8';


@font-face {
  font-family: '나눔바른고딕-thin';
  src: url('../fonts/NANUMBARUNGOTHICULTRALIGHT.TTF');
  weight: 400;
}

@font-face {
  font-family: '나눔바른고딕-light';
  src: url('../fonts/NANUMBARUNGOTHICLIGHT.TTF');
  weight: 400;
}

@font-face {
  font-family: '나눔바른고딕';
  src: url('../fonts/NANUMBARUNGOTHIC.TTF');
  weight: 400;
}

@font-face {
  font-family: '나눔바른고딕-bold';
  src: url('../fonts/NANUMBARUNGOTHICBOLD.TTF');
  weight: 400;
}



@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf');
  weight: 400;
}