@charset 'UTF-8';

@font-face {
  font-family: "나눔바른고딕-thin";
  src: url("/Fonts/NanumBarunGothicUltraLight.ttf");
  weight: 400;
}

@font-face {
  font-family: "나눔바른고딕-light";
  src: url("/Fonts/NanumBarunGothicLight.ttf");
  weight: 400;
}

@font-face {
  font-family: "나눔바른고딕";
  src: url("/Fonts/NanumBarunGothic.ttf");
  weight: 400;
}

@font-face {
  font-family: "나눔바른고딕-bold";
  src: url("/Fonts/NanumBarunGothicBold.ttf");
  weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url("/Fonts/OpenSans-Regular.ttf");
  weight: 400;
}
