@import "./Settings";

.palette {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.4rem 0;
  margin-bottom: 0.8rem;
  border-radius: 1.4rem 1.4rem 0 0;
  background-color: #FBFEFF;
  box-shadow: 0 0 1rem #A6ADC983;
  transition: 0.2s;

  .color {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    transform: scale(0.75);
    box-shadow: 0 0 0 0.2rem #FBFBFB;

    &+.color {
      margin-left: 1.6rem;
    }
    &:hover {
      transform: scale(1);
      box-shadow: 0 0 0 0.3rem #FBFBFB;
    }
    &.active, &:active {
      transform: scale(1);
      box-shadow: 0 0 0 0.3rem #FBFBFB;
    }
  }
}