@import "./Settings";
section.todos-wrapper {
  height: 100vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    background-color: #ffffff00;
    width: 0.6rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    border-radius: 1rem;
    
    &:hover {
      background-color: #b1b1b1;
    }
  }


  div.todos-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
    padding: 0 5rem;
    transition: 0.2s;
  
    .todo-animate-enter {
      opacity: 0;
      transform: translateX(-50%) scale(0.5);
      transition: 0.2s;
    }

    .todo-animate-enter-active {
      opacity: 1;
      transform: translateX(0) scale(1);
      transition: opacity 0.4s, transform 0.4s;
    }

    .todo-animate-exit {
      opacity: 1;
      transform: translateX(0) scale(1);
    }

    .todo-animate-exit-active {
      opacity: 0;
      transform: translateX(2rem) scale(0.9);
      transition: opacity 0.8s, transform 0.8s;
    }

  }
}