@import "./Settings";

.todos-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 100vh;
  padding: 0 6.5rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    background-color: #ffffff00;
    width: 0.6rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    border-radius: 1rem;
    
    &:hover {
      background-color: #b1b1b1;
    }
  }
}